@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ff3c3c;
}
.container{
    width: 440px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
h3{
    color: #fa4747;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
}
form{
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    border: 2px dashed #fa4747;
}
img{
    width: 70px;
}
p{
    color: #fa4747;
}
section .row{
    margin-bottom: 10px;
    background: #ffe2d4;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    color: #f95819;
    font-size: 30px;
}
section .details span{
    font-size: 14px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}
.progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}
.content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #fc0f0f;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 230px;
    overflow-y: scroll;
}
.uploaded-area.onprogress{
    max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
}
.uploaded-area i.fa-check{
    font-size: 16px;
}

